@page "/login"
@inject SpotifyApiService SpotifyApiService
@inject SpotifyAuthService SpotifyAuthService
@inject NavigationManager Navigation

<h3>Log in to Spotify</h3>
<button class="btn btn-success" @onclick="LoginWithSpotify">Log in</button>

@code {
    private void LoginWithSpotify()
    {
        var authUrl = SpotifyAuthService.GetAuthorizationUrl();
        Navigation.NavigateTo(authUrl, forceLoad: true);
    }
}