@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="container">
    <div class="content">
        @if (!Navigation.Uri.EndsWith("/"))
        {
            <NavMenu />
        }
        @Body
    </div>
</div>

<style>
    .page-transition {
        animation: fadeIn 0.5s ease-in-out;
    }
</style>